@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Pavanam&display=swap");

:root {
  --primary-color: #2b3a50;
  --bg-color: #def4fd;
  --accent-color: #feb82d;
  --green: #548d56;

  --heading-font: "Poppins", sans-serif;
  --text-font: "Pavanam", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

body {
  font-family: var(--text-font);
  background-color: var(--bg-color);
  color: var(--primary-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}
